body {
  font-family: "Open Sans", sans-serif;
  background-color: #a100004d;
}

.container {
  max-width: 1280px;
  margin: auto;
  background-color: white;
}
.pannkakor-img img {
  width: 100%;
  display: block;
  height: 500px;
  object-fit: cover;
}

.title-text {
  color: #a10000;
  padding-left: 40px;
}

.description {
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.content-container {
  padding: 0 40px 40px 40px;
}

.img-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.img-container img {
  width: 50%;
  height: 467px;
  display: block;
  object-fit: cover;
}
.normal-weight {
  font-weight: normal;
}

@media (max-width: 768px) {
  .img-container {
    flex-direction: column;
  }

  .img-container img {
    width: 100%;
    height: auto;
  }

  .title-text,
  .description,
  .content-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .description {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  .title-text {
    font-size: 1.5rem;
    padding: 30px;
  }

  .description {
    font-size: 0.95rem;
    margin: 0px 30px 30px 30px;
  }

  .content-container {
    margin: 0px 30px 30px 30px;
  }
  .content-container ul li {
    padding: 5px;
  }
  .instructions {
    margin-top: 15px;
  }
  .instructions ol li {
    padding: 5px;
  }

  .served-food-imgs h2 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .served-food-imgs img {
    display: block;
    object-fit: cover;
    height: 400px;
  }
}
